body {
  margin: 2px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 150vh;
  width: 100vh; 
  padding-left: 25%;
  background: linear-gradient( #43e0d5,#226ea1);
 
}
h2{
  font-size:small
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar {
display: flex;
flex-direction: row;
  justify-content: space-between;
  padding-left: 10p;
margin-top: 100px;
  align-items: start;
  background-color: #226ea1;
text-decoration: none;
  color:white;
   font-size: larger;
  border-bottom: 3px solid white;

}

ul {
    display: flex;
  flex-direction: row;
  justify-content: space-between;
 /* /* list-style-type: none;  */
   text-decoration: none;
  margin:20;
  padding: 40px;
margin: 40px;
 
}
.list_txt {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding:0 40px;
  /* color: #fff; */

} 
.container{
  display: flex;
  flex-direction: column;
  margin:auto;
  margin-top: 10px;
  background:#fff;
  padding-bottom: 30px;

}
.container1{
  display: flex;
  flex-direction: column;
  margin:auto;
  margin-top: 10px;
  background:#fff;
  padding-bottom: 30px;
  padding-left: 10px;

}

.header{
  display:flex;
  flex-direction: column;
  align-items: center;
  gap:9px;
  width: 100;
  margin-top:70px;
  font-size: large;
  /* color: grey; */
  color:#226ea1;
}
.text{
color: #226ea1;
font-size:19px;
font-weight:bold;
/* list-style: none; */
text-decoration: none;
background-color:white; 

margin: 40px;
}
.underline{
  margin-left: 47%;
  width: 61px;
  height:6px;
  background-color:#226ea1;
  border-radius: 9px;
}
.inputs{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap:10px;
  padding: 20px;

}
.input{
display: flex;
align-items: center;
margin:auto;
background: #eaeaea;
border-radius: 6px;
width: 480px;
height: 60px;
font-size: medium;
padding: 10px;
}
.tbl-head{
  color: #226ea1;
  background-color: #43e0d5;
  /* margin: 10px; */
}
.tbl-row{
  /* display: flex;
  flex-direction: column; */
}
.head {
  padding-left: 0;
 
}
.input input{
height: 50px;
width: 440px;
/* background: transparent; */
outline:none;
font-size: 19px;
}
.submit-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  margin: 60 auto;
}
.btn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  background-color: #226ea1;
  font-size: 19px;
  font-weight: 700px;
  color: #fff;
cursor: pointer;

}
.btn-div{
  display: flex;
  flex-direction: row;
  justify-content:center;
  padding-left: 5px;
}
.btn-1{
  background-color: #226ea1;
  color: #fff;
  margin: 10px;
  padding: 10px;
  font-size: 15px;

}
.d-flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color:#226ea1;
  font-family: Georgia, 'Times New Roman', Times, serif;
  box-shadow: 2px 2px 2px grey;

}

.d-flex1{
padding: 10px;
background-color:#226ea1;
color:white;
text-decoration: none;
font-weight:300;

}
.dot{
  text-decoration: none;
}
/* .top-bar {

} */
.side-bar{
padding: 10px;
border-right: 1px solid gray;
}
.item-link{
  text-decoration: none;
  font-size: 20px;
  
}
